doctype html

html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title MPRS online web portal (universal search)
		link(href='/stylesheets/style.css', rel='stylesheet')
		link(href='/stylesheets/jquery.dataTables.css', rel='stylesheet')
		link(href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-2.1.3.js')
		script(src='https://code.jquery.com/ui/1.11.2/jquery-ui.js')
		script(src='/javascripts/jquery.dataTables.min.js')


		script(src='/javascripts/typeahead.bundle.js')
		script(src='/javascripts/handlebars-v2.0.0.js')
		script(src='/front_JS/searchFrontEnd.js')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js')
		script(src='https://rawgit.com/PMSI-AlignAlytics/dimple/master/dist/dimple.latest.js')
	
		script(type='text/javascript').
			var recentLotArray =!{JSON.stringify(recentLotArray)};
			var testerArray =!{JSON.stringify(testerArray)};
			var handlerArray =!{JSON.stringify(handlerArray)};
			var deviceArray =!{JSON.stringify(deviceArray)};

	body
		header#header
			#logo
				h2 Maintenance Performance Reporting System
		main
			.innertube
			form#queryForm(method='get')
				#custom-templates
					input.typeahead#keystr(type='text', placeholder='lot id, tester id, handler id, device, kyec, spil, xap, atk', size = 60, name='keystr')
				
				input#btn_search_query(type='submit')

			br 
			br
			br

			button#factory.displayButton(disabled='') Factory
			button#tester.displayButton(disabled='') Tester
			button#handler.displayButton(disabled='') Handler
			button#lotid.displayButton(disabled='') lotid
			button#grade.displayButton(disabled='') grade
			button#dev.displayButton(disabled='') device
			button#pkg.displayButton(disabled='') package

			br
			br
			hr
			#ttResult
			#OEE_total
			#OEE_93k
			#OEE_t2k
			
		
		nav#nav
			.innertube
			br
			br
			br
			p
				input#lastW(name='timeBtnGrp', type='radio', value='lastW')
				| last week
				br
				br
				input#lastM(name='timeBtnGrp', type='radio', value='lastM')
				| last month
				br
				br
				input(name='timeBtnGrp', type='radio', value='period')
				| From
				br
				br
				input#startDT.rBtnTime.datepicker(type='text')
				br
				h5#btnLabel To
				br
				br
				input#endDT.rBtnTime.datepicker(type='text')
				br
				br
				br
				br
				br
				br
			textarea#msgArea(rows='8', cols='28')
				| welcome to MPRS universal query!


