doctype html
html
	head
		title select your criteria to search for actual test time records
		link(href='/stylesheets/d3style.css', rel='stylesheet')
		link(href='/stylesheets/jquery.dataTables.css', rel='stylesheet')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui-1.10.4.js')
		script(src='/javascripts/d3.min.js')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/jquery.dataTables.min.js')
		script(type='text/javascript').
			var devPkg =!{JSON.stringify(devPkg)}; 
		script(src='/javascripts/ajax_main.js')
		
	body
		h3 select your criteria to search for actual test time records


		form#queryForm(method='get', name='queryForm')
			select#device(data-style="btn-info", name="device")
				optgroup(label='Select Device ID')

			select#package(data-style="btn-info", name="package")
				optgroup#packageGrp(label='Select Package')
					option -
					each package in packageArray
						option #{package}

			select(data-style="btn-info", name="sites")
				optgroup(label='Select Number of Sites')
					option -
					each sites in sitesArray
						option #{sites}

			select(data-style="btn-info", name="grade")
				optgroup(label='Select TestGrade')
					option -
					each testgrade in testgradeArray
						option #{testgrade}

			select(data-style="btn-info", name="group")
				optgroup(label='Select TestGroup')
					option -
					each testgroup in testgroupArray
						option #{testgroup}
			
			input#btn_query(type='submit')
			br
			br
			br
			hr
			br
			#ttResult
			
